:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.3rem solid rgba(255, 255, 255, 0.3);
}

.header {
    display: flex;
    align-items: center;
    border-bottom: var(--border);
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 6px 2px 21px 5px #00000063;
}

.header .logo img {
    height: 4rem;
}

.header .navbar {
    margin: 0 3rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.3rem;
    color: black;
}

.header .navbar-btn {
    padding: 0.5rem 3rem;
    border-radius: 12px;
    font-size: 1.3rem;
    margin: 1rem 3rem;
    background: rgb(235 126 32 / 58%);
    color: white;
    border: none;
    box-shadow: 2px 3px 5px 3px #0000007d;
}

.header .navbar-btn:hover {
    padding: 0.7rem 3.2rem;
    background: rgb(255 118 0 / 58%);
}

.header i {
    font-size: 1.3rem;
    border-radius: 50%;
    border: 2px solid #9f2f2f94;
    padding: 12px;
    color: #9f2f2f94;
    float: right;
    margin-left: 7rem;
}

.foundation-info {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.foundation-info .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.foundation-info .container h1 {
    padding: 1rem;
    color: rgb(255 118 0 / 97%);
    font-family: system-ui;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 2px #00000099;
}

.foundation-info .container .buttons button {
    border: none;
    padding: 0.5rem 2rem;
    background: #4347d1db;
    border-radius: 12px;
    font-size: 1.3rem;
    color: white;
    box-shadow: 1px 3px 4px 3px #0f0f2a9e;
    font-family: cursive;
}

.foundation-info .container .buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.foundation-info .container h3 {
    color: gray;
    padding: 1rem;
}

.foundation-info .container2 {
    padding: 1rem;
}

.foundation-info .container2 img {
    border-radius: 20px;
}

.Heading {
    display: flex;
    justify-content: center;
    color: #6464ff;
    padding-bottom: 2rem;
    background-color: lightgray;
    margin-bottom: -3.6%;
    padding-top: 2rem;
}

.heading-after {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    background: linear-gradient( to right, #2f2f621f 0%, #2f2f621f 50%, #2f2f621f 100%);
}

.about .container img {
    border-radius: 12px;
    width: 100%;
}

.about .container {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 40%;
    padding: 2rem;
}

.about .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-right: 12rem;
    color: gray;
    font-size: 20px;
}

.about .container2 h1 {
    padding: 1rem;
    color: #5f00c7;
    font-family: system-ui;
    font-size: 3rem;
}

.about .container2 h3 {
    color: gray;
    padding: 1rem;
}

.contact {
    background: var(--black);
    text-align: center;
}

.contact .share {
    padding: 1rem 0rem;
}

.contact .share a {
    padding: 0rem;
    height: 5rem;
    width: 5rem;
    line-height: 4rem;
    font-size: 2.2rem;
    color: #fff;
    border: var(--border);
    margin: 0.3rem;
    border-radius: 50%;
    text-decoration: none;
}

.contact .share a:hover {
    background: var(--main-color);
    color: var(--bg);
    font-weight: bold;
}

.contact .links {
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.contact .links a {
    padding: 0.7rem 2rem;
    font-size: 2rem;
    border: var(--border);
    color: #fff;
}

.contact .links a:hover {
    background-color: var(--main-color);
    color: var(--bg);
    font-weight: bold;
}

.contact .credit {
    font-size: 2rem;
    color: #fff;
    text-decoration: underline;
}

.contact .credit span {
    color: var(--main-color);
}

.contact .contact-info {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.contact .contact-info .box {
    width: 40%;
    border: 2px solid white;
    border-radius: 11px;
    color: white;
    display: flex;
    align-items: center;
}

.contact .contact-info .box i {
    font-size: 2rem;
    margin: 1rem;
}

.contact .contact-info .box h4 {
    font-size: 1.1rem;
}

.donate {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.donate .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.donate .container h1 {
    padding: 1rem;
    color: rgb(255 118 0 / 97%);
    font-family: system-ui;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 2px #00000099;
}

.donate .container .buttons button {
    border: none;
    padding: 0.5rem 2rem;
    background: #4347d1db;
    border-radius: 12px;
    font-size: 1.3rem;
    color: white;
    box-shadow: 1px 3px 4px 3px #0f0f2a9e;
    font-family: cursive;
}

.donate .container .buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.donate .container h3 {
    color: gray;
    padding: 1rem;
}

.donate .container2 {
    padding: 1rem;
}

.donate .container2 img {
    border-radius: 20px;
    margin-top: 6rem;
}

.donate .container .box {
    display: flex;
    border: 2px solid black;
    width: 73%;
    border-radius: 12px;
    padding: 1rem;
    text-align: initial;
    align-items: center;
    margin: 1rem auto;
    box-shadow: 0px 2px 9px 2px black;
    transition: 0.3s;
}

.donate .container .box:hover {
    width: 76%;
    border: 4px solid rgb(42, 42, 133);
    box-shadow: 0px 2px 9px 2px rgb(77, 77, 207);
    display: flex;
    text-align: initial;
    align-items: center;
}

.donate .container .box i {
    margin: 0 1rem;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 1rem 1.5rem;
    background: linear-gradient( to bottom, #7979f3 0%, #9e9eff 50%, #9e9eff 50%, #9090fd 100%);
    font-size: 2rem;
    border-radius: 50%;
}

.donate .container .box p {
    font-size: 20px;
    color: gray;
}

.donate .container2 .buttons {
    margin: 0 10rem;
}

.donate .container2 button {
    padding: 0.5rem 3rem;
    border-radius: 12px;
    font-size: 1.3rem;
    margin: 8rem 10rem;
    background: orangered;
    color: white;
    border: none;
    box-shadow: 2px 3px 5px 3px #0000007d;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-container {
    background-color: #000;
    text-align: center;
    padding: 5px 0px;
}

.contact-container {
    width: 98.295%;
    margin: 23px auto auto;
    background-color: #000;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ff0;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    margin: auto 46.1%;
}

.footer-col>ul {
    list-style: none;
    color: #bbb;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a,
.footer-col ul p {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-contact>li>a>i {
    margin-right: 4px;
}

.fa-location-arrow:before {
    content: "\f124";
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: hsla(0, 0%, 100%, 0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
    margin: 37px 10px 10px 0;
}

.footer-container p {
    font-size: (16.4px);
    font-size: (var(--para-fontSize));
    color: #555;
    color: var(--para-color);
}
