.text-center{
    color:rgb(128, 117, 2);
}
.text-center span{
    color: black;
}
.login-form {
    width: 340px;
    margin: 50px auto;
    font-size: 15px;
    border-top: 5px solid rgb(190, 176, 18);
  }
  .login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.3);
    padding: 30px;
  }
  .login-form h2 {
    margin: 0 0 15px;
  }
  .form-control,
  .btn {
    min-height: 38px;
    border-radius: 2px;
  }
  .btn {
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(128, 117, 2);
    border: none;
  }

  .btn-box{
    width: 277px;
    height: 40px;
    margin: 35px auto;
    position: relative;
    /* border: 2px solid black; */
    box-shadow: 0 0 10px 1px black;
    border-radius: 10px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    width: 136px;
    background: transparent;
    border: 0;
    font-weight: bold;
    outline: none;
    position: relative;
}
#bttn{
    top: 0;
    left: 0;
    position: absolute;
    width: 143px;
    height: 100%;
    background:rgb(47, 98, 160);
    border-radius:10px;
    transition: .5s;
}
