* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background: #f2f2f2;
}

.cont {
    border-top: 5px solid rgb(190, 176, 18);
    background-color: white;
    width: 800px;
    height: 1100px;
    padding: 25px;
    margin: 20px auto 0;
    box-shadow: 0 0 6px 7px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.cont h2 {
    font-size: 25px;
    line-height: 24px;
    padding: 30px;
    text-align: center;
}

.input-name {
    width: 90%;
    position: relative;
    margin: 20px auto;
}

.lock {
    padding: 8px 11px;
}

.name {
    width: 45%;
    padding: 8px 0 8px 40px;
    border: 2px solid rgb(128, 117, 2);
}

.input-name span {
    margin-left: 35px;
}

.a {
    width: 100%;
    padding: 8px 0px 8px 40px;
}

.input-name i {
    position: absolute;
    font-size: 16px;
    border-right: 1px solid black;
    color: rgb(128, 117, 2);
}

image {
    width: 90%;
    position: relative;
    margin: 20px auto;
}

.image i {
    position: absolute;
    font-size: 18px;
}

.email {
    padding: 8px;
}

.name {
    width: 318px;
}

.a,
.name {
    border: 1px solid #cccccc;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.image {
    width: 90%;
    position: relative;
    margin: 20px auto;
}

.radio {
    margin-right: 4px;
    font-size: 16px;
}

.btn {
    background-color: rgb(128, 117, 2);
    color: white;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
}

.btn:hover {
    cursor: pointer;
    background-color: #cccccc;
    border: 2px solid rgb(128, 117, 2);
    color: black;
    transition: 0.2s ease-in-out;
}

.btn-box {
    width: 426px;
    height: 40px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgb(128, 117, 2);
    border-radius: 10px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    width: 210px;
    background: transparent;
    border: 0;
    font-weight: bold;
    outline: none;
    position: relative;
}

#bttn {
    top: 0;
    left: 0;
    position: absolute;
    width: 210px;
    height: 100%;
    background: rgb(47, 98, 160);
    border-radius: 10px;
    transition: 0.5s;
}

h2 {
    color: rgb(128, 117, 2);
}

h2 span {
    color: black;
}

@media (max-width: 480px) {
    .cont {
        width: 100%;
    }
    .input-name {
        margin-bottom: -10px;
    }
    .input-name span {
        padding: 0;
        margin: 0;
    }
    .name {
        width: 100%;
        padding: 8px 0 8px 40px;
        margin-bottom: 10px;
    }
    .btn-box {
        width: 200px;
        margin-bottom: -10px;
    }
    .toggle-btn {
        width: 90px;
        margin-bottom: -10px;
    }
    #bttn {
        width: 100px;
        margin-bottom: -10px;
    }
}

#register {
    position: relative;
}

textarea {
    resize: none;
}

.addr {
    height: 63px;
    width: 33px;
    padding: 20px 10px;
}